.main-section {
  display: flex;
  flex-direction: row;
  margin: 100px 0 100px 0;
  font-family: Roboto, 'Arial';
  font-size: 20px;
}

.about {
  display: flex;
  flex: 1;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.right-side {
  display: flex;
  flex: 3;
}

.background {
  width: 100%;
}
