.header {
  display: flex;
  flex-direction: row;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;

  background-color: rgb(170, 233, 170);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(152, 210, 152, 100);
}

.left-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin-left: 50px;
}

.header-button {
  font-size: 18px;
  font-family: Roboto, 'Arial';
  background-color: rgb(170, 233, 170);
  border: none;
  margin: 0 5px 0 5px;
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
  transition: background-color 0.5s;
}

.header-button:hover {
  cursor: pointer;
  background-color: rgb(153, 209, 153);
}
